.input {
    text-align: right;
    background: #ee7700;
    border-radius: 1px;
    color: white;
    font-size: 3vh; 
    overflow: hidden;
    white-space: nowrap;
  }
  
  .result {
    font-size: 5vh;
  }
  
  .currentInput {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .currentInput > * {
    margin-bottom: 3px;
  }
  